
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

#etsy-logo{
    width:80px;
    height: auto;
}

#imagesTemplate{
  height: 100%;
  width: 100%;
}

#titleTemplate{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#shopTemplate{
  color: #9A9A9A;
  display: inline-block;
}

#priceTemplate{
  color: #78C042;
  display: inline-block;
}
